/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}
input:focus {
    outline: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**********   Header    ************/
header {
    display: flex;
    justify-content: space-between;
}
.logoBooki {
    height: 19px;
    width: auto;
    padding: 30px;
}
.nav-top li {
    display: inline-block; 
    padding: 10px 20px; 
}
.nav-top ul {
    margin: 0;
}
.nav-top li:hover{
    border-top: 2px solid var(--main-color);
}
.nav-top li:hover a{
    color: var(--main-color); 
}

.main-container li {
    justify-content: space-between;
    background: #ffffff;
}

/****** Recherche et filtres ***********/
.mobile-rch {
    display: none;
}
.recherche-et-filtres {
    height: auto;
}
.rch-title {
    margin-bottom: auto;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
}
.rch-subTitle {
    padding-top: 8px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}
.rch-bar {
    height: 49px;
    margin: 35px 0;
}
.fa-location-dot {
    padding: 16px 16px 0px 16px;
    color: #000000;
    background-color: var(--main-bg-color);
    border: var(--main-bg-color) 1px solid;
    border-radius: 15px 0px 0px 15px;
}
.rch-bar {
    display: flex;
    flex-direction: row;
    height: 49px;
    width: auto;
    margin: 35px 0;
}
.rch-text {
    
    height: 45px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    border-top: var(--main-bg-color)1px solid;
    border-bottom: var(--main-bg-color)1px solid;
    border-left: none;
    border-right: none;
}
.rch-btn {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: auto;
    width: 132px;
    font-size: 18px;
    cursor: pointer;
}
.filtres {
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
   
}
.flt-title {
    padding: 5px;
    font-size: 18px;
    line-height: 21px;
}

.flt-box {
    margin-left: 10px;
}
.flt-btn {
    
    margin: 5px;
    background-color: white;
    border: var(--main-bg-color) 2px solid;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    height: 50px;
    width: 173px;
}
.flt-btn-text {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}

.flt-btn:hover {
    background-color: var(--filter-bg-color);
}
.rch-info {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    padding-top: 37px ;
    height: 19px;
}
.rch-info, p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.fa-info {
    height: 24px;
    width: 24px;
    border: var(--main-bg-color) 1px solid;
    border-radius: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 37.5px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hbg-mrs {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: auto;
    gap: 21px;
}
.hbg-mrs .card {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 243px;
    padding: 0px 0px 15px 0px;
    border-radius: 20px;
}

.hbg-mrs img {
    padding: 5px 5px; 
    height: 124px;
    border-radius: 20px 20px 0px 0px;
   
}
.hbg-mrs .card-title {
    font-size: 16px;
}
.hbg-mrs .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hbg-mrs .card-rating {
    padding-top: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activité ***********/

.act {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.act section {
    padding-top: 30px;
}



.act article{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgb(196, 196, 196), -4px -4px 10px rgb(196, 196, 196);
}

.act img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px ;
    object-fit: cover;
}

.act h3{
    font-size: 16px;
    margin: 20px 0px 20px 20px;
}

.act-container{
    padding: 30px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

/****** Footer ***********/

footer {
    padding-top: 35px;
}
.footer {

    display: flex;
    gap: 15%;
    height: auto;
    padding: 30px;
    background-color: var(--main-bg-color);
}
.footer ul {
    list-style: none;  
    padding: 20px;
    
}
.footer li {
    background-color: var(--main-bg-color);
}
.footer a{
    display: block;
    line-height: 18px;
    padding-top: 15px;
}
.upper {
    text-transform: uppercase;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        margin-top: 35px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .recherche-et-filtres {
        height: 322px;
    }
    .act img{
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px ;
        object-fit: cover;
    }
    .filtres {
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
    }
    .act-container article{
        display: flex;
        flex-direction: column;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    header {
        display: flex;
        flex-direction: column;
        
    }
    header .logo {
        display: flex;
        justify-content: center;
    }
    .nav-top ul {
        background-color: red;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .nav-top ul li{
        width: 50%;
    }
    .nav-top ul li a {
       display: flex;
       justify-content: center;
    }
    .nav-top li:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .recherche-et-filtres {
        margin: 30px;
        height: auto;
    }
    .rch-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        width: auto;
        height: 49px;
    }
    .rch-btn {
        display: none;
    }
    .mobile-rch{
        display: block;
        background-color: var(--main-color);
        height: 49px;
        width: 49px;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
       
    }
    .rch-text {
        height: 45px;
        color: #000000;
        width: 270px;
        font-size: 18px;
        text-align: center;
        border-top: var(--main-bg-color)1px solid;
        border-bottom: var(--main-bg-color)1px solid;
        border-left: none;
        border-right: none;
        box-shadow: none;
    }

    /* TODO COLORS */
    .mobile-rch i {
        color: var(--main-bg-color);
        padding: 16px 16px 0px 16px;
        cursor: pointer;
    }
    .filtres {
        padding: 0;
    }
    .flt-box {
        display: flex;
        flex-direction: row;
        margin-left: 0 !important;
        flex-wrap: wrap; 
        
    }
    .flt-btn {
        margin: 5px;
        background-color: white;
        border: var(--main-bg-color) 2px solid;
        border-radius: 25px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        height: 50px;
        width: 45%;
        display: inline;
    }
    .flt-btn-text {
        font-size: 16px;
        line-height: 16px;
    }
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
       
    }
    
    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 0px !important;
        margin: auto;
        padding: 20px !important;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
      
    }
    .populaires-cards .card {
        display: flex;
        flex-direction: row;
    }
        
    .hebergements-and-populaires a .card{
        width: 335px;
        
    }
    
    .hebergements-and-populaires a {
        width: 335px;
    }

    .hbg-mrs {
        width: 100%;
        gap: 15px;
        
    }

    .hbg-mrs .card {
        width: auto;
    }
    .hebergements {
        background-color: #ffffff !important;
        padding-top: 35px !important;
    }
    
   .act-container {
        display: flex;
        flex-direction: column;
   }
   .act img{
        width: 100%;
        height: 141px;
        border-radius: 20px 20px 0px 0px ;
        object-fit: cover;
    }

    .footer {
        
        display: flex;
        flex-direction: column;
        
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        padding: 0 !important;

    }
}

